@model MVCTest.workout1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>workout1</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.workoutName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.workoutName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user.firstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
